# PORT=4000
# MONGODB_URI=mongodb+srv://abhinash:abhinash@cluster0.fffyhvp.mongodb.net/
# JWT_SECRET=kvhjkdckjdkdhkhckdsjhd8sydaxi
# JWT_EXPIRES_IN=1d
# CACHE_TTL_SECONDS=300
# REDIS_URL=
# CLIENT_URL=http://localhost:5173
# CLIENT_URL=https://study-abroad-platform-seven.vercel.app
# VITE_API_URL=https://study-abroad-platform-mm2h.onrender.com


PORT=4000
MONGODB_URI=mongodb+srv://abhinash:abhinash@cluster0.fffyhvp.mongodb.net/waygood?retryWrites=true&w=majority
JWT_SECRET=kvhjkdckjdkdhkhckdsjhd8sydaxi
JWT_EXPIRES_IN=1d
CACHE_TTL_SECONDS=300
REDIS_URL=
CLIENT_URL=https://study-abroad-platform-seven.vercel.app